.meet_talk {
  width: 7.06666667rem;
  padding: 1.65333333rem 1.46666667rem 0 1.46666667rem;
}
.meet_talk_cont {
  background: #c5c8ca;
  padding-left: 0.46666667rem;
  color: #573220;
}
.meet_talk_cont > p {
  font-weight: bolder;
  padding: 0.42666667rem 0 0.14666667rem 0;
  font-size: 0.4rem;
}
.meet_talk_cont .meet_talkmian p {
  font-size: 0.37333333rem;
  line-height: 0.46666667rem;
}
.meet_talk_cont .meet_talkprodt {
  padding: 0.16rem 0 0.16rem 0;
}
.meet_talk_cont .meet_talkprodt p {
  font-size: 0.32rem;
  line-height: 0.48rem;
  font-weight: 200;
}
.meet_talk_Img {
  width: 7.06666667rem;
  height: 6.06666667rem;
}
.meet_talk_Img img {
  width: 100%;
  height: 100%;
}
